@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;300&family=Open+Sans&display=swap");
/*Variables*/
header {
    background-color: #f7adaa; }
header h1 {
    font-family: 'Lobster';
    font-size: 60px;
    color: white;
    padding: 5px; }
header h2 {
    font-family: "Monserrat", sans-serif;
    color: white;
    padding: 5px; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserrat", sans-serif; }

.nav-item {
    color: black;
    font-family: "Monserrat", sans-serif; }
.nav-item:hover {
    background-image: linear-gradient(to bottom, transparent 0 65%, #ffc0cb 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%; }

.titulosPaginas {
    font-family: "Monserrat", sans-serif;
    font-size: 2.62rem;
    line-height: 1;
    letter-spacing: 1.8px;
    background-image: linear-gradient(to bottom, transparent 0 65%, #f7adaa 65% 100%); }

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    border: 1px solid #e8e8e7;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 400ms ease; }
.tarjeta:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }
    .tarjeta .tarjeta__titulo {
    font-family: "Monserrat", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin: 5px 0px; }
.tarjeta .tarjeta__desc {
    font-family: "Monserrat", sans-serif; }
.tarjeta .tarjeta__img {
    width: 100%; }
.tarjeta .btn {
    background-color: #f59794;
    padding: 8px 12px;
    margin-top: 5px;
    color: white;
    border: 0px;
    border: 5px; }

#fotoNosotros {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease; }
#fotoNosotros:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }

.titulofaq {
    font-family: "Monserrat", sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 0 65%, #ffc0cb 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%; }
.titulofaq .textoFaq {
    text-align: center; }

.tituloContacto, .tituloContacto2 {
    font-weight: bold;
    background-image: linear-gradient(to bottom, transparent 0 65%, #ffc0cb 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%; }

.emailContacto {
    color: #f59794;
    text-decoration: none;
    font-family: "Monserrat", sans-serif; }
.emailContacto:hover {
    color: black;
    background-image: linear-gradient(to bottom, transparent 0 65%, #ffc0cb 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%; }

#tarjetaForm {
    border: 1px solid #e8e8e7;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; }

#tarjetaCont {
    border: 1px solid #e8e8e7;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; }

footer {
    background-color: rgba(201, 201, 200, 0.849); }
